* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-image: url("https://images8.alphacoders.com/421/thumb-1920-421878.jpg");
    background-size: cover;
    background-position: center; */
}